
/*
//
//
// NAV & FOOTER
//
//
*/


.nav {
    width: 100%;
    height: 60px;
    position: absolute;
    
    
}

.nav-container {
    max-width: 900px;
    width: 100%;
    margin: 10px auto;
}



.footer {
    width: 100%;
    height: 60px;
    position: absolute;
    margin-top: -60px;
    
}

.footer-container {
    max-width: 900px;
    width: 100%;
    margin: 10px auto;
}




/*
//
//
// UNIVERSAL STYLES
//
//
*/


body {
    margin: 0;
    min-height: 500px;
    height: 100%;
    cursor: pointer;
    
}

.body:hover {
    cursor: pointer;
}

.body {
    
    
     height: 100%;
     min-height: 100vh;
     width: 100vw;

    
    -moz-animation-name: fadeIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;   
  
}


@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
 
    

.font-title h1:hover {
    opacity: .6;
    cursor: pointer;
}

.font-title h1 {
 -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg); 
}




a {
    
   -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);   
    
}
a:link {
    text-decoration: none;
    color: white;
}


a:visited {
    text-decoration: none;
    color: white;
}


a:hover {
    text-decoration: none;
    color: white;
    opacity: 0.6;
}


a:active {
    text-decoration: none;
    color: white;
}



.font-title {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 30vh 0 20vh 0;
}

.font-body {
  padding: 0px 10px 0px 10px; 
  margin: auto;
  max-width: 900px;
 
}


h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 18px;
  text-transform: none;
  text-align: center;
      
    
}


p span {
    border-right: 1px solid white;
}

.footer p {
    font-size: 16px;
}


.button {
    margin-left: 20px;
    position: absolute;
    z-index: 10;
    opacity: 0.3;
    -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);  
}

.button:hover {
    cursor: pointer;
    opacity: 1;
}

.close {
    margin-left: 30px;
    position: absolute;
    z-index: 10;
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);  
}

.close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.close p {
    font-size: 25px;
    margin-top: 15px;
}




/*
//
//
// ABOUT
//
//
*/


.about-main {
     background-color: #7f8c8d;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}
.about-main .font-title {
    padding: 20vh 0 10vh 0;
}

.about:hover {
    opacity: .6;
    cursor: pointer;
}

.about {
 -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg); 
}


/*
//
//
// END
//
//
*/



.end-main {
  background-color: #ecf0f1; 
  
}


.end-main h1 {
  font-family: 'Noto Sans', sans-serif;
  color: #95a5a6;
 
}


.end-main p {
  font-family: 'Noto Sans', sans-serif;
  color: #95a5a6;
  
}


/*
//
//
// ABRIL FATFACE
//
//
*/


.abril-main {
  background-color: #2C3E50;
    
}


.abril-main h1 {
  font-family: 'Abril Fatface', cursive;
}


.abril-main p {
  font-family: 'Abril Fatface', cursive;
  
}



/*
//
//
// ROBOTO
//
//
*/




.roboto-main {
  background-color: #EF5350;
  
}


.roboto-main h1 {
  font-family: 'Roboto', sans-serif;
}


.roboto-main p {
  font-family: 'Roboto', sans-serif;
 
}



/*
//
//
// CABIN
//
//
*/




.cabin-main {
  background-color: #404040;
  
}


.cabin-main h1 {
  font-family: 'Cabin', sans-serif;
}


.cabin-main p {
  font-family: 'Cabin', sans-serif;
 
}





/*
//
//
// PT SANS
//
//
*/




.ptsans-main {
  background-color: #00A19A;
  
}


.ptsans-main h1 {
  font-family: 'PT Sans', sans-serif;
}


.ptsans-main p {
  font-family: 'PT Sans', sans-serif;
 
}






/*
//
//
// MONTSERRAT
//
//
*/


.montserrat-main {
  background-color: #42A5F5;
  
}


.montserrat-main h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: none;

}


.montserrat-main p {
  font-family: 'Montserrat', sans-serif;
  
}


/*
//
//
// OSWALD
//
//
*/


.oswald-main {
  background-color: #34495e;
  
}


.oswald-main h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}


.oswald-main p {
  font-family: 'Oswald', sans-serif;
  
}



/*
//
//
// RALEWAY
//
//
*/


.raleway-main {
  background-color: #00B16A;
  
}
  

.raleway-main h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: none;

}


.raleway-main p {
  font-family: 'Raleway', sans-serif;

}


/*
//
//
// LIBRE BASKERVILLE
//
//
*/



.baskerville-main {
  background-color: #16a085;
  
}

.baskerville-main h1 {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 300;

}


.baskerville-main p {
  font-family: 'Libre Baskerville', sans-serif;
  
}



/*
//
//
// LATO
//
//
*/


.lato-main {
  background-color: #1abc9c;
  
}

.lato-main h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;

}


.lato-main p {
  font-family: 'Lato', sans-serif;
  
}




/*
//
//
// OLD STANDARD
//
//
*/



.oldstandard-main {
  background-color: #3498db;
}



.oldstandard-main h1 {
  font-family: 'Old Standard TT', sans-serif;
  font-weight: 800;
}


.oldstandard-main p {
  font-family: 'Old Standard TT', sans-serif;  
}



/*
//
//
// SOURCE SANS
//
//
*/


.sourcesans-main {
  background-color: #2ecc71;
}


.sourcesans-main h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}


.sourcesans-main p {
  font-family: 'Source Sans Pro', sans-serif;
  
}

